.inputStyle {
  margin-bottom: 20px;
  
}
.icon{
  padding: 10px;
  margin-left: 5px;
  background-color: aliceblue;
}
.icon:hover{
  background-color: rgb(163, 198, 238);
}

.links{
  display: flex;
  flex-wrap: wrapd;
}